[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
selenium = "*"
beautifulsoup4 = "*"
prettytable = "*"
pytz = "*"
keyring = "*"
pwinput = "*"
patchright = "*"

[dev-packages]
mypy = "*"
types-pyyaml = "*"
types-pytz = "*"
types-beautifulsoup4 = "*"
flake8 = "*"
pyinstaller = "*"
pep8-naming = "*"

[requires]
python_version = "3.13"
