[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0"
selenium = "*"
beautifulsoup4 = "*"
prettytable = "==3.5.0"
pytz = "*"
undetected-chromedriver = "*"
keyring = "*"
pwinput = "*"

[dev-packages]
mypy = "*"
types-pyyaml = "*"
types-pytz = "*"
types-beautifulsoup4 = "*"
flake8 = "*"
pep8-naming = "*"

[requires]
python_version = "3.11"
