-i https://pypi.org/simple
attrs==24.3.0; python_version >= '3.8'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
certifi==2024.12.14; python_version >= '3.6'
cffi==1.17.1; os_name == 'nt' and implementation_name != 'pypy'
charset-normalizer==3.4.0; python_full_version >= '3.7.0'
h11==0.14.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
outcome==1.3.0.post0; python_version >= '3.7'
prettytable==3.5.0; python_version >= '3.7'
pycparser==2.22; python_version >= '3.8'
pysocks==1.7.1
pytz==2024.2
pyyaml==6.0; python_version >= '3.6'
requests==2.32.3; python_version >= '3.8'
selenium==4.27.1; python_version >= '3.8'
sniffio==1.3.1; python_version >= '3.7'
sortedcontainers==2.4.0
soupsieve==2.6; python_version >= '3.8'
trio==0.27.0; python_version >= '3.8'
trio-websocket==0.11.1; python_version >= '3.7'
typing-extensions==4.12.2; python_version >= '3.8'
undetected-chromedriver==3.5.5
urllib3[socks]==2.2.3; python_version >= '3.8'
wcwidth==0.2.13
websocket-client==1.8.0; python_version >= '3.8'
websockets==14.1; python_version >= '3.9'
wsproto==1.2.0; python_full_version >= '3.7.0'
